
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <form action="/routines/routines/{{_id}}/edit" method="post" enctype="multipart/form-data">
          <h1 class="is-size-2 has-text-weight-bold has-text-centered is-italic">Editar Rutina</h1>
            <label class="label">Titulo</label>
            <input class="input is-warning has-text-light" type="text" name="title" value="{{title}}">

            <label class="label">Dificultad</label>
            <input class="input is-warning has-text-light" type="text" min="1" max="15" name="difficulty" value="{{difficulty}}">

            <label class="label">Beneficios</label>
            <textarea class="textarea is-warning has-text-light"  name="description" cols="30" rows="5">{{description}}</textarea>

          <label class="label">Imagen</label>
          <input class="input is-warning has-text-light"  type="file" name="routine-image" value="{{imageUr}}">

          <br>
          
          <button class="button is-focused yellow is-warning" type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</section>


