<section class="section">

  <h1 class="title has-text-primary has-text-centered">Ejemplos de Ejercicios</h1>

  <div class="container">
    <div class="columns is-multiline">
      {{#each routine}}
      {{!-- 12 --}}
        <div class="column is-12"> 
          <div class="card has-background-primary-light">
            <div class="card-image has-text-centered p-3">
              <img src="{{imageUrl}}">
            </div>
            <div class="card-content pt-1">
              <h1 class="is-size-4 has-text-centered has-text-black-ter has-text-weight-bold">{{title}}</h1>
              <p class="is-size-5 has-text-centered has-text-black-ter">
                Dificultad: <span class="has-text-info-dark">{{difficulty}}</span>
              </p>
              <p class="is-size-6 has-text-centered has-text-grey-dark">
                Descripcion: {{description}}
              </p>
            </div>
            <footer class="card-footer has-background-warning-light">
              <a class="button is-small is-primary m-2 mr-3" href="routines/{{_id}}/edit">Edit</a>
              <a class="button is-small is-danger m-2" href="routines/{{_id}}/delete">Delete</a>
            </footer>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</section>