
<section class="section has-background-grey-dark " >

  <h1 class="is-size-1 has-text-centered mt-5 mb-5 pt-4">
    <span class="yellow">Ejemplos de Ejercicios</span>
  </h1>

  <div class="container">
    <div class="columns is-multiline">
      {{#each routine}}
        <div class="column is-4"> 
          <div class="card has-background-black-ter">

            <div class="card-image has-text-centered p-3">
              <figure class="">   
                <img src="{{imageUrl}}">
              </figure>
            </div>

            <div class="card-content pt-1">
              <h1 class="is-size-3 has-text-centered has-text-weight-bold mb-3">
                <span class="yellow">{{title}}</span>
              </h1>
              <p class="is-size-5 has-text-light has-text-centered has-text-weight-bold">
                Dificultad: <span class="has-text-light">{{difficulty}}</span>
              </p>
              <p class="is-size-6 has-text-centered has-text-light">
                <span class="is-size-5 has-text-weight-bold yellow">Beneficios </span>{{description}}
              </p>
            </div>
            {{#if ../userInSession}}
            <footer class="card-footer has-background-black-ter">
                <a class="button is-small is-success m-2 mr-3" href="routines/{{_id}}/edit">Edit</a>
                <a class="button is-small is-danger m-2" href="routines/{{_id}}/delete">Delete</a>
            </footer>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</section>