
<div class="pt-6 mt-6">

<div class="has-text-centered">
    <img src="/images/editar-snack.png" width="400" height="300">
</div>

<div  class="snack-edit">

<form action="/snacks/snacks-edit/{{id}}" method="post" enctype="multipart/form-data">


<div class="field">
<label class="label">Imagen</label>
<input class="input" type="file" name="snack-image" value={{imageUrl}}>
<br>
</div>

<div class="field">
<label class="label">Nombre</label>
<input class="input is-warning has-text-light" type="text" name="name" placeholder="nombre" value={{name}}>
<br>
</div>

<div class="field">
<label class="label">Reseña</label>
<input class="input is-warning has-text-light" type="text" name="resena" placeholder="reseña" value={{resena}}>
<br>
</div>

<div class="field">
<label class="label">Ingredientes
<input class="input is-warning has-text-light" type="text" name="ingredients" placeholder="Lista de ingredientes" value={{ingredients}} >
</label>
<br>
</div>

<div class="field">
<label class="label">Instrucciones
<input class="input is-warning has-text-light" type="text" name="instructions" placeholder="Lista de instrucciones" value={{instructions}}>
</label>
<br>
</div>

<div class="field">
<label class="label">Informacion Nutricional</label>
<input class="input is-warning has-text-light" type="number" name="nutritionFacts" placeholder="Total de calorias" value={{nutritionFacts}}>
<br>
</div>

<div class="field">
<label class="label">Tiempo de preparacion</label>
<input class="input is-warning has-text-light" type="number" name="prepTime" placeholder="min" value={{prepTime}}>
<br>
</div>

<div class="field">
<label class="label">Tiempo de coccion</label>
<input class="input is-warning has-text-light" type="number" name="cooktime" placeholder="min" value={{cooktime}}>
<br>
</div>

<div class="field">
<label class="label">Rinde para:</label>
<input class="input is-warning has-text-light" type="number" name="yiel" placeholder="porciones" value={{yiel}}>
</div>

<div class="snack-edit-btn ">
<button class="button is-focused is-warning yellowBg" type="submit">Guardar</button>
</div>

</form>
</div>
</div>

