<h1>Lista de Snacks</h1>

{{#each snacks}}
    <p>Nombre:{{name}}</p>
    <p>Reseña:{{resena}}</p>
    <p>Ingredientes:{{ingredients}}</p>
    <p>Instrucciones:{{instructions}}</p>
    <p>Informacion nutricional: {{nutritionFacts}}</p>
    <p>Tiempo de preparacion: {{prepTime}}</p> 
    <p>Tiempo de coccion: {{cooktime}}</p> 
    <p>Rinde para:  {{yiel}} </p> 
{{/each}}