<h1>Lista de Snacks</h1>

{{#each snacks}}
<div>
    <h3>Nombre:{{name}}</h3>
    <p>Reseña:{{resena}}</p>
    <p>Ingredientes:{{ingredients}}</p>
    <p>Instrucciones:{{instructions}}</p>
    <p>Informacion nutricional: {{nutritionFacts}}</p>
    <p>Tiempo de preparacion: {{prepTime}}</p> 
    <p>Tiempo de coccion: {{cooktime}}</p> 
    <p>Rinde para:  {{yiel}} </p> 

    <a href="snacks-edit/{{id}}">Editar Snack</a>
    <a href="snacks-delete/{{id}}">Borrar Snack</a>
</div>
{{/each}}