{{!-- is-fixed-top --}}
<nav class="navbar is-dark is-fixed-top">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/"><img src="../images/logo.png" alt="logo" style="max-height:60px" class="py-2 px-2"></a>
    </div>
    <a class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="navbar-menu" id="nav-links">
    <div class="navbar-end">
      <a href="https://www.trainingaroundtheworld.com/blog/como-encontrar-la-motivacion-para-hacer-ejercicio" class="navbar-item">
        <span class="is-size-7 yellow">Para saber mas..</span>
      </a>
      <a href="/login" class="navbar-item">
        <span class="is-size-7 yellow">Blog</span>
      </a>
    </div>
  </div>
</nav>

<div class="background-snacks p-4 pt-6 mt-6">
<h1 class="title has-text-warning has-text-left"><img src="/images/lista de snacks.png" width="300" height="100"></h1>
<div class="p-5">
<div class=" columns is-multiline ">
{{#each snacks}}
<div class=" column  is-4 ">
    <div class=" card has-background-grey-dark  has-text-white p-4">

      {{#if ../userInSession}}            
        <div class="has-text-centered has-background-grey-dark mb-3 p-0">
          <a class="button is-warning  is-small" href="snacks-edit/{{id}}">Editar Snack</a>
          <a class="button is-light is-small" href="snacks-delete/{{id}}">Borrar Snack</a>
        </div>
      {{/if }}

      <h3 class="is-size-5 yellow has-text-centered">{{name}}</h3><br>
      
      <div  class="card-image has-text-centered p-3">
        <figure class="image is-3by2">
          <img src="{{imageUrl}}" >
        </figure>
      </div>
                
      <div>
        <p > <h4 class="has-text-warning">Reseña:</h4> {{resena}} </p>
        <p class="p-2"> <h4 class="has-text-warning">Ingredientes: </h4>
        <ul>
          {{#each ingredients}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        </p>
        <p class="p-2"><h4 class="has-text-warning"> Instrucciones:</h4>
          <ul>
            {{#each instructions}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </p>
        <p class="p-2"> <h4 class="has-text-warning">Informacion nutricional:</h4> {{nutritionFacts}} cal</p>
        <p> <h4 class="has-text-warning">Tiempo de preparacion:</h4> {{prepTime}} min</p> 
        <p> <h4 class="has-text-warning">Tiempo de coccion:</h4> {{cooktime}} min</p> 
        <p> <h4 class="has-text-warning">Rinde para: </h4> {{yiel}} porciones</p> 
      </div>

    </div>

</div>
{{/each}}
</div>
</div>
</div>

<footer class="footer has-background-grey-lighter pt-4 pb-4">
  <div class="content has-text-right">
    <p>
      <img src="/images/social-media.png" width="80" height="80"><br><br>
      <img src="/images/social-media2.png" width="80" height="80">
    </p>
  </div>

  <div class="content has-text-centered ">
    <p class="pb-5 ">
      <strong>Power Training</strong> by Azdhy Galvan and Valentin Quiroga
    </p>
  </div>
  
</footer>