<h1 class="title has-text-warning has-text-centered">Lista de Snacks</h1>

<div class="columns is-multiline">
{{#each snacks}}
<div class="column is-4 card  has-background-grey-dark  has-text-white">
    <div>
    <img src="{{imageUrl}}" width="100" height="100">
    <h3 class="is-size-5 has-text-warning">Nombre:{{name}}</h3>
    <p>Reseña:{{resena}}</p>
    <p>Ingredientes:{{ingredients}}</p>
    <p>Instrucciones:{{instructions}}</p>
    <p>Informacion nutricional: {{nutritionFacts}}</p>
    <p>Tiempo de preparacion: {{prepTime}}</p> 
    <p>Tiempo de coccion: {{cooktime}}</p> 
    <p>Rinde para:  {{yiel}} </p> 

{{#if ../userInSession}}

    <a class="button is-warning is-ligh is-small" href="snacks-edit/{{id}}">Editar Snack</a>
    <a class="button is-small" href="snacks-delete/{{id}}">Borrar Snack</a>

{{/if }}

</div>



</div>
{{/each}}
</div>
{{userInSession.email}}