<nav class="navbar is-dark">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/"><img src="/images/logo.png" alt="logo" style="max-height:60px" class="py-2 px-2"></a>
    </div>
    <a class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="navbar-menu" id="nav-links">
    <div class="navbar-end">
      <a href="https://www.trainingaroundtheworld.com/blog/como-encontrar-la-motivacion-para-hacer-ejercicio" class="navbar-item">
        <span class="is-size-7 yellow">Para saber mas..</span>
      </a>
      <a href="/login" class="navbar-item">
        <span class="is-size-7 yellow">Blog</span>
      </a>
    </div>
  </div>
</nav>

<h1 class="is-size-1 has-text-centered mb-5">Editar rutina</h1>


<form action="/exercise/exercise-edit/{{id}}" method="post" enctype="multipart/form-data">

<label for="">Ilustracion</label>
<input class="input is-warning has-text-light" type="file" name="exercise-image" value="{{imageUrl}}">

<label for="">Ejercicio</label>
<input class="input is-warning has-text-light" type="text" name="exercise"  value="{{exercise}}">

<label for="">Series</label>
<input class="input is-warning has-text-light" type="number" name="series"  value="{{series}}">

<label for="">Repeticiones</label>
<input class="input is-warning has-text-light" type="number" name="repetitions" value="{{repetitions}}">

<label for="">Descanso</label>
<input class="input is-warning has-text-light" type="number" name="breaks" value="{{breaks}}">seg

<button class="button" type="submit">Guardar</button>

</form>

<footer class="footer has-background-grey-lighter pt-4 pb-4">
  <div class="content has-text-right">
    <p>
      <img src="/images/social-media.png" width="80" height="80"><br><br>
      <img src="/images/social-media2.png" width="80" height="80">
    </p>
  </div>
  <div class="content has-text-centered ">
    <p class="pb-5 ">
      <strong>Power Training</strong> by Azdhy Galvan and Valentin Quiroga
    </p>
  </div>
  
</footer>