<h1 class="is-size-1 has-text-centered mb-5">Editar rutina</h1>


<form action="/exercise/exercise-edit/{{id}}" method="post" enctype="multipart/form-data">

<label for="">Ilustracion</label>
<input type="file" name="exercise-image" value="{{imageUrl}}">

<label for="">Ejercicio</label>
<input type="text" name="exercise"  value="{{exercise}}">

<label for="">Series</label>
<input type="number" name="series"  value="{{series}}">

<label for="">Repeticiones</label>
<input type="number" name="repetitions" value="{{repetitions}}">

<label for="">Descanso</label>
<input type="number" name="breaks" value="{{breaks}}">seg

<button type="submit">Guardar</button>

</form>

<footer class="footer has-background-grey-lighter pt-4 pb-4">
   <div class="content has-text-right">
    <p>
      <img src="/images/social-media.png" width="80" height="80"><br><br>
       <img src="/images/social-media2.png" width="80" height="80">
    </p>
  </div>
  <div class="content has-text-centered ">
    <p class="pb-5 ">
      <strong>Power Training</strong> by Azdhy Galvan and Valentin Quiroga
    </p>
  </div>
  
</footer>