
<div class="pt-6 mt-6">
<div class="has-text-rigth"><img src="/images/editar-rutina.png" width="300" height="400"></div>
</div>

<div class="center-edit-routine">


<form class="form" action="/exercise/exercise-edit/{{id}}" method="post" enctype="multipart/form-data">
<div class="create-exercise ">
<label class="label">Ilustracion</label>
<input class="input" type="file" name="exercise-image" value="{{imageUrl}}">

<label class="label">Ejercicio</label>
<input class="input" type="text" name="exercise"  value="{{exercise}}">

<label class="label">Series</label>
<input class="input" type="number" name="series"  value="{{series}}">

<label class="label">Repeticiones</label>
<input class="input" type="number" name="repetitions" value="{{repetitions}}">

<label class="label">Descanso</label>
<input class="input" type="number" name="breaks" value="{{breaks}}">

<div class="has-text-centered pt-2 ">
<button class="button is-focused is-warning yellowBg" type="submit">Guardar</button>
</div>

</div>
</form>
<div class="pr-6 img-edit-routine">
<img class="img1" src="/images/div-image-editar-rutina.jpg" width="600" height="600">
</div>
</div>


