<h1>Lista de ejercicios</h1>

<table>
<thead>
    <tr>
        <th>Ilustracion</th>
        <th>Ejercicio</th>
        <th>Series</th>
        <th>Repeticiones</th>
        <th>Descansos</th>
    </tr>
</thead>

{{#each exercise}}
<tr>
    <td>
        <a href="/exercise/exercise-edit/{{id}}">Editar</a>
        <a href="/exercise/exercise-delete/{{id}}">Borrar</a>

    </td>
    <td><figure class="image is-1by2"><img src="{{imageUrl}}" alt=""></figure> </td>
    <td>{{excersice}}</td>
    <td>{{series}}</td>
    <td>{{repetitions}}</td>
    <td>{{breaks}}</td>



</tr>
{{/each}}
</table>