<nav class="navbar is-dark">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/"><img src="../images/logo.png" alt="logo" style="max-height:60px" class="py-2 px-2"></a>
    </div>
    <a class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="navbar-menu" id="nav-links">
    <div class="navbar-end">
      <a href="https://www.trainingaroundtheworld.com/blog/como-encontrar-la-motivacion-para-hacer-ejercicio" class="navbar-item">
        <span class="is-size-7 yellow">Para saber mas..</span>
      </a>
      <a href="/login" class="navbar-item">
        <span class="is-size-7 yellow">Blog</span>
      </a>
    </div>
  </div>
</nav>

<h1 class="is-size-1 has-text-centered mb-5 yellow">Lista de ejercicios</h1>

<table class="table is-fullwidth">
<thead>
    <tr>
        <th>No. de Rutina</th>
        <th>Opciones</th>
        <th>Ilustracion</th>
        <th>Ejercicio</th>
        <th>Series</th>
        <th>Repeticiones</th>
        <th>Descansos</th>
    </tr>
</thead>

{{#each exercise}}
<tr>
    <td>{{rutina}}</td>
    <td>
        <a href="/exercise/exercise-edit/{{id}}">Editar</a>
        <a href="/exercise/exercise-delete/{{id}}">Borrar</a>

    </td>
    <td><figure class="image is-square"><img src="{{imageUrl}}" ></figure> </td>
    <td>{{exercise}}</td>
    <td>{{series}}</td>
    <td>{{repetitions}}</td>
    <td>{{breaks}}</td>



</tr>
{{/each}}
</table>

<footer class="footer has-background-grey-lighter pt-4 pb-4">
   <div class="content has-text-right">
    <p>
      <img src="/images/social-media.png" width="80" height="80"><br><br>
       <img src="/images/social-media2.png" width="80" height="80">
    </p>
  </div>
  <div class="content has-text-centered ">
    <p class="pb-5 ">
      <strong>Power Training</strong> by Azdhy Galvan and Valentin Quiroga
    </p>
  </div>
  
</footer>